body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background: #43494548;
    margin: 0; /* Xóa margin mặc định */
    background: linear-gradient(45deg, #27aae2, #96a1c8, #0d57e2);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form {
    width: 400px;
    height: 330px;
    background: whitesmoke;
    border: 1px solid rgb(84, 76, 76);
    border-radius: 3px;
    padding: 20px;
}

.form__dntk {
    text-align: center;
    font-size: 30px;
}

.form__dash {
    display: flex;
    justify-content: center;
}

.form__tkmk {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px 10px;
    border: 1px solid rgb(42, 39, 39);
    border-radius: 2px;
    margin-bottom: 5px;
}

.form__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 5px 50px;
}

.form__button-red {
    margin-bottom: 20px;
    padding: 10px 20px;
    background: rgb(225, 53, 53);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bolder;
}

.form__button-blue {
    margin-bottom: 20px;
    padding: 10px 20px;
    background: rgb(57, 135, 220);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bolder;
}
